.box-layout {
  align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover; // always cover the container with image
  display: flex;
  height: 100vh; // 100% veiwpoint height
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 8px; // make it less edgy
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1; // always in one line
}

